


 <!-- === BEGIN CONTENT === -->
        <div id="content">
            <div class="container background-white">
                <div class="row margin-vert-30">
                    <!-- Main Column -->
                    <div class="col-md-12">
                        <h2>Interest</h2><h3>(Select Three of them)</h3><br>




                        <div class="container">
                            <div class="row">
                                <label class="btn btn-primary">Calculations <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Management <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Political and History (learner or writer) <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Vast communication and social Links <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label><br><br>

                                <label class="btn btn-primary">Photography and Drawing <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Technical and Problem Solving <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Compound and matter Searches <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Scientific Studies <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label><br><br>
                                <label class="btn btn-primary">Nature, Animals and Human beings Serving <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>

                            </div>
                        </div>



                    </div>








                    <div class="col-md-12">
                        <br>  <h2>Hobby</h2><h3>(Select Three of them)</h3><br>



                        <div class="container">
                            <div class="row">
                                <label class="btn btn-primary">Adventure, Action  figure<input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Animal case, Animal training <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Building & Machines <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Language (club, ethics, heritage):  <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label><br><br>
                                <label class="btn btn-primary">Computer/ social Network <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Problem Solving & strategy <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Gardening <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Photographic, Painting<input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <br><br>
                                <label class="btn btn-primary">Practical Things, Scientific Studies <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Caring, Serving Nature <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                                <label class="btn btn-primary">Presentation Skills, Saving Nature<input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>

                            </div>
                        </div>



                    </div>
                    <!-- End Main Column -->
                </div>
            </div>
        </div>
        <!-- === END CONTENT === -->
     
